## Combining or Concatenating String

In [2]:
first_name = "Haseeb"
second_name = "Aslam"
full_name = first_name + " " +second_name
print(full_name)
full_name

Haseeb Aslam

'Haseeb Aslam'

In [7]:
first_name + second_name

'HaseebAslam'

## DocString

In [8]:
name = '''Muhammad Haseeb Aslam''' 
print(name)
name

Muhammad Haseeb Aslam

'Muhammad Haseeb Aslam'

In [11]:
details = """
Name :-  Muhammad Haseeb Aslam 
Father_name :- Muhammad Aslam
Uiversity :- Bahria University
"""
print(details)
details

Name :-  Muhammad Haseeb Aslam
Father_name :- Muhammad Aslam
Uiversity :- Bahria University

'\nName :-  Muhammad Haseeb Aslam \nFather_name :- Muhammad Aslam\nUiversity :- Bahria University\n'

In [14]:
#ID Card For Univeristy
details = """
Bahria University Karachi Campus
Name :-  Muhammad Haseeb Aslam 
Father_name :- Muhammad Aslam
En_Roll :- 02-123456-078
Program :- BCE Batch :- Spring2018
"""
print(details)

Bahria University Karachi Campus
Name :-  Muhammad Haseeb Aslam
Father_name :- Muhammad Aslam
En_Roll :- 02-123456-078
Program :- BCE Batch :- Spring2018

In [15]:
#ID Card For Univeristy
#it's help when you don't want to change the doc string format..
name = "Muhammad Haseeb Aslam"
fname = "Muhammad Aslam"
en_roll = "02-123456-078"
program = "BCE"
batch = "Spring2018"

details = f"""
Bahria University Karachi Campus
Name :-  {name} 
Father_name :- {fname}
En_Roll :- {en_roll}
Program :- {program} Batch :- {batch}
"""
print(details)

Bahria University Karachi Campus
Name :-  Muhammad Haseeb Aslam
Father_name :- Muhammad Aslam
En_Roll :- 02-123456-078
Program :- BCE Batch :- Spring2018

## Changing cases

In [16]:
name

'Muhammad Haseeb Aslam'

In [17]:
name.upper() #shallow copy

'MUHAMMAD HASEEB ASLAM'

In [19]:
name.title() #shallow copy

'Muhammad Haseeb Aslam'

In [21]:
name.lower() #shallow copy

'muhammad haseeb aslam'

In [22]:
name #orignal data remain same...

'Muhammad Haseeb Aslam'

## Avioding Extra Spaces

In [25]:
name = "Haseeb         "
print(name) #avoid space if at last
name #return orignal data with space

Haseeb

'Haseeb         '

In [29]:
name.rstrip()#return orignal data without space

'Haseeb'

## IS keyword

In [39]:
# How "is" keyword return TRUE if value's are same...
num1 = 5
num2 = 5
num1 is num2

True

In [40]:
# Reason of "is" to return True if value's are same...
# if the value is same then the id of variable's in which value store will also same...
print(id(num1))
print(id(num2))

140724349122464
140724349122464

## Airthmetic Operators
    + Addition
    - Subtraction
    * Multiplication
    / Division
    // floor Division
    % Modulus
    ** Power

#### + / Addition

In [31]:
3+6  #int + int = int

9

In [33]:
#int/float + float = float
3+6.6 #int + float = float

9.6

In [43]:
#int/float + float = float
3.5+6.6 #float + float = float

10.1

In [34]:
'3'+6 #str + int/float = not possible without type casting

TypeError: can only concatenate str (not "int") to str

In [35]:
#type casting
int('3')+6

9

In [32]:
'3'+'6' #str + str = str

'36'

In [46]:
["Haseeb","Aslam"] + ["Zahid","Abrar"] #adding/concatenate string's list

['Haseeb', 'Aslam', 'Zahid', 'Abrar']

In [51]:
["Haseeb","Aslam"] + [1,6] #adding/concatenate string's and int's list

['Haseeb', 'Aslam', 1, 6]

In [50]:
("Haseeb","Aslam") + ("Zahid","Abrar") #adding/concatenate string's tuple

('Haseeb', 'Aslam', 1, 'Abrar')

In [52]:
("Haseeb","Aslam") + (1,6) #adding/concatenate string's and int's tuple

('Haseeb', 'Aslam', 1, 6)

In [56]:
#adding/concatenate/+ is not allow to apply on dict{:,:,:,...} and set{}

#### - / Subtraction

In [57]:
5-2

3

In [58]:
5.2-2

3.2

In [89]:
{5,6,7,8} - {6,2} #set subtraction --> intersection

{5, 7, 8}

In [66]:
{"Haseeb", "Ali", "Zabi"} - {"Zabi"}#set subtraction --> intersection

{'Ali', 'Haseeb'}

In [91]:
#sub/- is not allow to apply on dict{:,:,:,...}, tuple ( , , ,...) and list[ , , ,...]

#### * / Multiplication

In [68]:
3 * 6

18

In [69]:
3.0 * 6

18.0

In [47]:
'3 '*6

'3 3 3 3 3 3 '

In [70]:
['3 ']*6

['3 ', '3 ', '3 ', '3 ', '3 ', '3 ']

In [76]:
a = ('3 ')
print(type(a))
('3 ')*6        #taking it as simple string not tuple...

<class 'str'>

'3 3 3 3 3 3 '

In [79]:
a = ('3 ',)
print(type(a))
('3 ',)*6      #taking it as simple tuple...

<class 'tuple'>

('3 ', '3 ', '3 ', '3 ', '3 ', '3 ')

In [ ]:
#multiplication/*  is not allow to apply on dict{:,:,:,...} and set{}

#### / or Division

In [92]:
11 / 3 # division always return float

3.6666666666666665

In [ ]:
#Division is allow to apply on only float or int

####  // or Floor Division

In [94]:
11 // 3 # floor division always return int

3

#### % / Modulus  
            3
     3  ________
    ____|   11  |____   
            9
        ----------
            2   # Modulus

In [95]:
11 % 3

2

#### ** / Power

In [44]:
#power 
print(2 ** 3)
print((1+1) ** 3)
print(2.5 ** 2)

8
8
6.25

In [96]:
## Next
## Comparison (Relational) Operators