## Dictionary
    Syntax:
    > {key1:value1, key2: value2,...}

In [2]:
{'id':13,
'name':"Haseeb",
"course":"A.I"}

{'id': 13, 'name': 'Haseeb', 'course': 'A.I'}

In [5]:
dict1 = {'id':13,
         'name':"Haseeb",
         "course":"A.I"}
dict1

{'id': 13, 'name': 'Haseeb', 'course': 'A.I'}

In [7]:
d1 = {}

d1['id'] = 13
d1['name'] = "Haseeb"
d1['Course'] = "A.I"

d1

{'id': 13, 'name': 'Haseeb', 'Course': 'A.I'}

####  dict ( ) 
    The dict() constructor builds dictionaries directly from sequences of key-value pairs:

In [8]:
{'sape': 4139, 'guido': 4127, 'jack': 4098}

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [9]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [20]:
dict(sape = 4139,guido = 4127, jack = 4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

#### .clear()

In [24]:
d1 = {'id': 123, 'name': 'Haseeb', 'course': 'A.I'}
print(d1)
d1.clear() # In Memory Function, Empty Dictionary...
print(d1)

{'id': 123, 'name': 'Haseeb', 'course': 'A.I'}
{}

In [28]:
d1 = {'id': 200, 'name': 'Haseeb', 'course': 'A.I'}
print(d1)
del(d1) # Destory the variable also...
print(d1)

{'id': 200, 'name': 'Haseeb', 'course': 'A.I'}

NameError: name 'd1' is not defined

#### .copy()

In [50]:
d1 = {'id': 200, 'name': 'Haseeb', 'course': 'A.I'}
print(d1)
d2 = d1 #Shallow Copy
d2['id'] = 0
print(d1)
print(d2)

{'id': 200, 'name': 'Haseeb', 'course': 'A.I'}
{'id': 0, 'name': 'Haseeb', 'course': 'A.I'}
{'id': 0, 'name': 'Haseeb', 'course': 'A.I'}

In [36]:
d1 = {'id': 200, 'name': 'Haseeb', 'course': 'A.I'}
print(d1)
d2 = d1.copy() #Deep Copy
d2['id'] = 0
print(d1)
print(d2)

{'id': 200, 'name': 'Haseeb', 'course': 'A.I'}
{'id': 200, 'name': 'Haseeb', 'course': 'A.I'}
{'id': 0, 'name': 'Haseeb', 'course': 'A.I'}

#### .fromkeys()
    Signature: dict.fromkeys(iterable, value=None, /) 
    Create a new dictionary with keys from iterable and values set to value.

In [39]:
l1 = ['id', 'name', 'course', 'address']
dict_formkeys = dict.fromkeys(l1) #value = None by default
dict_formkeys

{'id': None, 'name': None, 'course': None, 'address': None}

In [42]:
l1 = ['id', 'name', 'course', 'address']
val = "NAN"
dict_formkeys = dict.fromkeys(l1,val)
dict_formkeys

{'id': 'NAN', 'name': 'NAN', 'course': 'NAN', 'address': 'NAN'}

In [44]:
#What? if we don't have fromkeys()
a = input('Enter keys for dictionary: ')
a = a.split(',')
print(a)
dict3 = {}
print(dict3)
for i in a:
    dict3[i] = None
dict3

Enter keys for dictionary: 1,3,5,7,9
['1', '3', '5', '7', '9']
{}

{'1': None, '3': None, '5': None, '7': None, '9': None}

In [46]:
# using fromkeys() to set key values as input from user for dict...
a = input('Enter keys for dictionary: ').split(',')
dict.fromkeys(a)

Enter keys for dictionary: 1,3,5,7,9

{'1': None, '3': None, '5': None, '7': None, '9': None}

In [56]:
# setting key and values as input from user in dict...
keys = input("Enter KEys For Dictionary: ").split(",")
val = input("Enter Value for Dictionary: ").split(",")
d4 = {}
for i in range(len(val)):
    d4[keys[i]] = val[i]
d4

Enter KEys For Dictionary: 1,3,5,7,9
Enter Value for Dictionary: N,4,U,F,2

{'1': 'N', '3': '4', '5': 'U', '7': 'F', '9': '2'}

In [65]:
ids = [1,2,3]
name = ['Haseeb', 'Raza', 'Yasir']
course = ['ds', 'cnc', 'web']

zip_variable = zip(ids,name,course)
list(zip_variable)

[(1, 'Haseeb', 'ds'), (2, 'Raza', 'cnc'), (3, 'Yasir', 'web')]

In [73]:
zip_variable = zip(ids,name)
dict(zip_variable)
#dict(list(zip_variable))

{1: 'Haseeb', 2: 'Raza', 3: 'Yasir'}

In [92]:
zip_variable = zip(ids,zip(name,course))
print(dict(zip_variable))
#print(dict(zip_variable)[2])
#print(dict(zip_variable)[2][0])

{1: ('Haseeb', 'ds'), 2: ('Raza', 'cnc'), 3: ('Yasir', 'web')}

In [94]:
dict2 = { 'id': input('Enter id: '),
         'name': input('Enter name: '),
         'skills': input('Enter skills: ').split(',')
}
dict2

Enter id: 013
Enter name: Haseeb
Enter skills: Python, Numpy, Pandas, PHP

{'id': '013',
 'name': 'Haseeb',
 'skills': ['Python', ' Numpy', ' Pandas', ' PHP']}

#### .get()

In [96]:
dict1 = {"id" : 13, "name": "Haseeb"}

In [97]:
dict1["id"]

13

In [99]:
dict1["course"]

KeyError: 'course'

In [ ]:
#We use get method to get value of key... it allow us to show message as per need if value not found...

In [100]:
dict1.get("course", "Not Available")

'Not Available'

#### .items()

In [102]:
dic = {'id': '0', 'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}

In [104]:
dic.items()

dict_items([('id', '0'), ('name', 'Haseeb'), ('skills', ['pyhton', 'numpy', 'pandas'])])

#### .key()

In [105]:
dic.keys()

dict_keys(['id', 'name', 'skills'])

#### .values()

In [106]:
dic.values()

dict_values(['0', 'Haseeb', ['pyhton', 'numpy', 'pandas']])

In [113]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet':'dog'}

for key in a_dict: # by default it picks keys
    print(key)

color
fruit
pet

In [114]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet':'dog'}

keys = a_dict.keys()
print(keys)
print()
for key in a_dict.keys(): # selecting keys 
    print(key)

dict_keys(['color', 'fruit', 'pet'])

color
fruit
pet

In [116]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet':'dog'}

values = a_dict.values()
print(values)
print()
for value in a_dict.values(): # selecting values
    print(value)

dict_values(['blue', 'apple', 'dog'])

blue
apple
dog

In [107]:
a_dict = {'one': 1, 'two':2, 'three':3, 'four':4}
new_dict = {}
for key, value in a_dict.items():
    if value <= 2:
        new_dict[key] = value
print(new_dict)
print(a_dict)

{'one': 1, 'two': 2}
{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [108]:
a_dict = {'one': 1, 'two':2, 'three':3, 'four':4}
new_dict = {}
for key, value in a_dict.items():
        new_dict[value] = key
print(a_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [109]:
incomes = {'apples': 5600.0, 'orange': 3500.0, 'banana':5000.0}
total_cost = 0.0

for value in incomes.values():
    total_cost += value
    
print(f'total price is {total_cost}')

total price is 14100.0

In [112]:
sum(incomes.values())

14100.0

#### .pop()

In [117]:
prices = {'apple': 0.40, 'orange': 0.35, 'banana': 0.25}

for key in prices.keys():
    if key == 'orange':
        del prices[key]

RuntimeError: dictionary changed size during iteration

In [123]:
prices = {'apple': 0.40, 'orange': 0.35, 'banana': 0.25}
del prices["orange"] # pop specified key and don't return value
prices

{'apple': 0.4, 'banana': 0.25}

In [127]:
# to tackle dictionary changed size during iteration problem
dic = {'id': '0', 'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}
print(dic)
print(dic.pop('id')) # pop specified key and return value
print(dic)

{'id': '0', 'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}
0
{'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}

In [128]:
# to tackle dictionary changed size during iteration problem
dic = {'id': '0', 'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}
print(dic)
a = dic.pop('id')
print(a) # return value
print(dic)

{'id': '0', 'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}
0
{'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}

#### .popitem()

In [130]:
dic = {'id': '0', 'name': 'qasim', 'skills': ['pyhton', 'numpy', 'pandas']}

print(dic)
print(dic.popitem()) # pop last item and return it as well
print(dic)

{'id': '0', 'name': 'qasim', 'skills': ['pyhton', 'numpy', 'pandas']}
('skills', ['pyhton', 'numpy', 'pandas'])
{'id': '0', 'name': 'qasim'}

In [131]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet':'dog'}
print(a_dict)

while True:
    try:
        print(f'Dictionary length: {len(a_dict)}')
        item = a_dict.popitem()
        print(f'Removed : {item}')
        
    except KeyError:
        print('The dictionary has no item now..!!!')
        break

{'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
Dictionary length: 3
Removed : ('pet', 'dog')
Dictionary length: 2
Removed : ('fruit', 'apple')
Dictionary length: 1
Removed : ('color', 'blue')
Dictionary length: 0
The dictionary has no item now..!!!

#### .setdefault()

In [134]:
dic = {'id': '0', 'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}
print(dic)
print(dic.setdefault('id', '13')) # can't make already avaliable key to default
print(dic)

{'id': '0', 'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}
0
{'id': '0', 'name': 'Haseeb', 'skills': ['pyhton', 'numpy', 'pandas']}

In [135]:
dic = {'id': '0', 'name': 'qasim', 'skills': ['pyhton', 'numpy', 'pandas']}

print(dic)
print(dic.setdefault('course', 'DS')) # add new key, value pair as default
print(dic)

{'id': '0', 'name': 'qasim', 'skills': ['pyhton', 'numpy', 'pandas']}
DS
{'id': '0', 'name': 'qasim', 'skills': ['pyhton', 'numpy', 'pandas'], 'course': 'DS'}

#### .update()

In [137]:
d1 = {'age1':10, 'age2':20, 'age3':30}
d2 = {'age1':15, 'age2':25, 'age3':35, 'age4':5}        
d1.update(d2)
d1

{'age1': 15, 'age2': 25, 'age3': 35, 'age4': 5}

In [147]:
#sorting key wise
d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d2={}
for key in sorted(d1.keys()):
    d2[key] = d1[key]
print(d2)

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [148]:
#sorting key wise by default
d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d2={}
for key,val in sorted(d1.items()):
    d2[key] = d1[key]
print(d2)

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [143]:
moon = {}
scores = {'a':200,'c':300,'b':600,'d':400}
for key,value in sorted(scores.items(),key = lambda kv:kv[1]): #kv[1] sort by vlaue
    moon[key] = value
print(moon)

{'a': 200, 'c': 300, 'd': 400, 'b': 600}

In [144]:
moon = {}
scores = {'a':200,'c':300,'b':600,'d':400}
for key,value in sorted(scores.items(),key = lambda kv:kv[0]): #kv[1] sort by keys
    moon[key] = value
print(moon)

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [145]:
scores = {'a':200,'c':300,'b':600,'d':400}
{k:v for k, v in sorted(scores.items(), key=lambda x:x[1], reverse=True)}

{'b': 600, 'd': 400, 'c': 300, 'a': 200}

In [149]:
moon = {}
scores = {'b':100, 'c':200, 'a':300}


for key,value in sorted(scores.items(), reverse=True): # sort by keys
    moon[key] = value
print(moon)

{'c': 200, 'b': 100, 'a': 300}

In [1]:
l1 = []
run = True

while run:
    choice = input('press n/N to stop and y/Y to run: ')
    if choice == 'n' or choice == 'N':
        run = False
    elif choice == 'y' or choice == 'Y':
        d1 = {'id': input('Enter your id: '),
             'name': input('Enter your name: '),
             'course': input('Enter course name: ')}
        l1.append(d1)
print(l1) # display list of dictionaries

press n/N to stop and y/Y to run: y
Enter your id: 013
Enter your name: Haseeb
Enter course name: DS
press n/N to stop and y/Y to run: Y
Enter your id: 014
Enter your name: Kamran
Enter course name: CNC
press n/N to stop and y/Y to run: n
[{'id': '013', 'name': 'Haseeb', 'course': 'DS'}, {'id': '014', 'name': 'Kamran', 'course': 'CNC'}]

## Dictionary comprehension

In [2]:
objects = ['blue', 'apple', 'dog']
categories = ['color', 'fruit', 'animal']

new_dic = { key : value for key, value in zip(categories, objects)}

print(new_dic)

{'color': 'blue', 'fruit': 'apple', 'animal': 'dog'}

In [3]:
d = {'color': 'blue', 'fruit': 'apple', 'animal': 'dog'}

new_d = { value : key for key,value in d.items()}

print(new_d)

{'blue': 'color', 'apple': 'fruit', 'dog': 'animal'}

In [4]:
a_dict = {'one': 1, 'two':2, 'three':3, 'four':4}

new_dict = {k : v for k, v in a_dict.items() if v <= 2}
print(new_dict)

{'one': 1, 'two': 2}

## Iteration through dictionnaries using some python builtin functions
    map()
    filter()
    ChainMap()
    itertools()
        chain()
        cycle()

#### map()
use to mapy/appl a function on dictionary...

In [5]:
prices = {'apples': 0.45, 'orange': 0.35, 'banana':0.25}
 
def discount(current_prices):
    return (current_prices[0], round(current_prices[1]*0.95, 2)) # 0.95 means applying 5% discount

new_prices = dict(map(discount, prices.items()))
new_prices

{'apples': 0.43, 'orange': 0.33, 'banana': 0.24}

In [6]:
prices = {'apples': 0.45, 'orange': 0.35, 'banana':0.25}

def has_low_price(price):
     return prices[price] < 0.4
#print(filter(has_low_price, prices.keys()))  ---> return object so converting object into list
low_price = list(filter(has_low_price, prices.keys()))
print(low_price)

['orange', 'banana']

In [7]:
from collections import ChainMap

fruit_prices = {'apple': 0.40, 'orange': 0.35}
vegetable_prices = {'pepper': 0.20, 'onion':0.55}

chained_dict = ChainMap(fruit_prices, vegetable_prices)
print(chained_dict)

# for key in chained_dict:
#     print(key , '-->', chained_dict[key])

for key,value in chained_dict.items():
    print(key, '-->', value)

ChainMap({'apple': 0.4, 'orange': 0.35}, {'pepper': 0.2, 'onion': 0.55})
pepper --> 0.2
onion --> 0.55
apple --> 0.4
orange --> 0.35

In [8]:
from itertools import cycle

fruit_prices = {'apple': 0.40, 'orange': 0.35}
times = 3
total_items = times * len(fruit_prices)

for item  in cycle(fruit_prices.items()):
#     print(total_items)
    if not total_items:
        break
    total_items -=1
    print(item)

('apple', 0.4)
('orange', 0.35)
('apple', 0.4)
('orange', 0.35)
('apple', 0.4)
('orange', 0.35)

In [9]:
from itertools import chain

fruit_prices = {'apple': 0.40, 'orange': 0.35}
vegetable_prices = {'pepper': 0.20, 'onion':0.55}

for item  in chain(fruit_prices.items(),vegetable_prices.items()):
    print(item)

('apple', 0.4)
('orange', 0.35)
('pepper', 0.2)
('onion', 0.55)

## Using the dictionary unpacking operaor(**)

In [10]:
fruit_prices = {'apple': 0.40, 'orange': 0.35}
vegetable_prices = {'pepper': 0.20, 'onion':0.55}

print({**vegetable_prices, **fruit_prices})

for k , v in {**vegetable_prices, **fruit_prices}.items():
    print(k, '-->', v)

{'pepper': 0.2, 'onion': 0.55, 'apple': 0.4, 'orange': 0.35}
pepper --> 0.2
onion --> 0.55
apple --> 0.4
orange --> 0.35

In [11]:
# the apple key is present in both dictionaries. after you merger them, the fruit_price va;ue for apple(0.40) prevailed,
# becuase fruit price is the right mosrt dictionary 

fruit_prices = {'apple': 0.40, 'orange': 0.35}
vegetable_prices = {'pepper': 0.20, 'onion':0.55, 'apple': 0.30}

print({**vegetable_prices, **fruit_prices})

{'pepper': 0.2, 'onion': 0.55, 'apple': 0.4, 'orange': 0.35}

In [12]:
x = {'a':1, 'b':2}
y = {'b':3, 'c': 4}

{**x, **y}

{'a': 1, 'b': 3, 'c': 4}