## Functions
    pre define functions
    user define functions
    recursive functions
    lambda function
#### Arguments Function types
    required arguments
    default arguments
    positional argumanets
    key word arguments
    optional arguments
#### return Function types 
    no return
    return
    argument as list
    argument as dictionary
    recursive functions
    generator functions

<img src = "https://www.learnbyexample.org/wp-content/uploads/python/Python-Function-Syntax.png">

#### Notes
##### Pre-define-->those functions which are made already.
##### User-defined-->those functionwhich we made for some environment. User defined not means we're making from scretech we can re create
##### Default-fucntion-->some function didn't took functions are called default Functions.
##### lamba-Function---> ak line ka function, bna name ka function, jo na is se pehly use howa na isky bad use hoga to lammba hoga.
##### Recursive-Fuction--->Repeatation of function itself is knnows is Recursive Function. khud apny ap ko call karta ha or usy kisi jaga py roky hain
##### Required argument---> those function which require argumenr & are necessary are called required argument eg:Hubby/Wife marriage
##### Optional argument---> those argument which are not required are called optionnal reuirement eg: relative,walima, hall.
##### return---> store in variabble & answer can be inpute for another Function.
##### Non return ---> Which Perform its funtion without return any value.
##### default-argument---> sef by programmer
##### positional-argument ---> which we def postion
##### keyword-Arrgument--->with the help of key value we can give any function value
##### argument with list ---> *unzip one value one by one in Funtion
##### argument with Dictionary---> (double starik)\unzip the value one by Every Function have: Fuction Deleration Function Body Function Calling
##### parameter vs Argument--> A parameter is the variable listed inside the parentheses in the function definition. An argument is the value that are sent to the function when it is called.

In [1]:
# We want to print same statement for 3 times so we have to do same work for many time ...
print('Pakistan zindabad')
print('we are pakistani')
print('we love our country')

print('Pakistan zindabad')
print('we are pakistani')
print('we love our country')

print('Pakistan zindabad')
print('we are pakistani')
print('we love our country')

Pakistan zindabad
we are pakistani
we love our country
Pakistan zindabad
we are pakistani
we love our country
Pakistan zindabad
we are pakistani
we love our country

In [2]:
# To over come this prblem the Function step forward...
def my_country():
    print('Pakistan zindabad.')
    print('we are pakistani.')
    print('we love our country..!!!')
my_country()
my_country()
my_country()

Pakistan zindabad.
we are pakistani.
we love our country..!!!
Pakistan zindabad.
we are pakistani.
we love our country..!!!
Pakistan zindabad.
we are pakistani.
we love our country..!!!

In [83]:
def print_function(): # Function Dec
    #Body Start indentation block
    
    '''print 3 statement''' # Doc_string
    
    return("Pakistan zinda bad") # Statment1
    # in multiple return when function get first return it will stop at that point n return that value
    return("We are ABC")#statment2
    return("We love our country!")#Statment3
    return("----------------------")
    
    #Body End indentation block
print(print_function())
print_function.__doc__

Pakistan zinda bad

'print 3 statement'

#### Pre define functions
    Built-in function

In [7]:
print('print is a pre define function')
input('input is a pre-define function: ')
print(type(11))
print(len('Haseeb Aslam'))
print(id('address'))

print is a pre define function
input is a pre-define function: 12456df
<class 'int'>
12
2002742025264

#### User define functions

In [82]:
def print_function(): # Function Dec
    #Body Start indentation block
    
    '''print 3 statement''' # Doc_string
    
    print("Pakistan zinda bad") # Statment1
    print("We are ABC")#statment2
    print("We love our country!")#Statment3
    print("----------------------")
    
    #Body End indentation block
print_function()
print_function.__doc__

Pakistan zinda bad
We are ABC
We love our country!
----------------------

'print 3 statement'

#### Required arguments functions

In [15]:
#For example: 
len() #len() takes exactly one argument (0 given)

TypeError: len() takes exactly one argument (0 given)

In [29]:
def id_card(sid, sname, fname, course, timing):
    #doc_string
    '''
    sid --> Student id
    sname --> Student Name
    fname --> Father's Name
    course --> Course
    timing --> Timing
    '''
    print(
    f"""
    ........PIAIC........
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    )
print(id_card.__doc__)
id_card('SMIT04588','Qasim','Hassan','A.I','09 to 11')    
id_card('SMIT04613', 'Haseeb', 'Aslam', 'DS', '11 to 2:30')
id_card('SMIT04533', 'Yasir', 'Akbar', 'DS', '2:30 to 4:30')
#id_card() # SHIFT+TAB to check number of arguments and doc_string

    sid --> Student id
    sname --> Student Name
    fname --> Father's Name
    course --> Course
    timing --> Timing


    ........PIAIC........
    Student id: SMIT04588
    Student Name: Qasim
    Father's Name: Hassan
    Course: A.I
    Timing: 09 to 11


    ........PIAIC........
    Student id: SMIT04613
    Student Name: Haseeb
    Father's Name: Aslam
    Course: DS
    Timing: 11 to 2:30


    ........PIAIC........
    Student id: SMIT04533
    Student Name: Yasir
    Father's Name: Akbar
    Course: DS
    Timing: 2:30 to 4:30

In [23]:
def id_card(sid, name, fname, course, time):
    print(
        """
    --->SAYLANI<---
    student id : {0} 
    student name : {1}
    student father name : {2}
    course : {3}
    time : {4}""".format(sid, name,fname, course,time) #if we don't pass the loc, format will place in format which they are pass...
    )
id_card('SMIT04588','Qasim','Hassan','A.I','09 to 11')    
id_card('SMIT04613', 'Haseeb', 'Aslam', 'DS', '11 to 2:30')
id_card('SMIT04533', 'Yasir', 'Akbar', 'DS', '2:30 to 4:30')

    --->SAYLANI<---
    student id : SMIT04588
    student name : Qasim
    student father name : Hassan
    course : A.I
    time : 09 to 11

    --->SAYLANI<---
    student id : SMIT04613
    student name : Haseeb
    student father name : Aslam
    course : DS
    time : 11 to 2:30

    --->SAYLANI<---
    student id : SMIT04533
    student name : Yasir
    student father name : Akbar
    course : DS
    time : 2:30 to 4:30

In [31]:
def add(num1,num2,num3):
    print(num1,num2,num3)
    print(f'sum is: {num1+num2+num3}')  
    
add(5,6,0)

5 6 0
sum is: 11

In [33]:
add(5,6) # if no of arguments are not as required by function then it will generate an error...

TypeError: add() missing 1 required positional argument: 'num3'

#### Default or Optional Arguments

In [39]:
# we tackle this argument problem we use default or optinal arguments function
def add(x,y=0,z=1): # you can set any arguments to default as per your need
    print(x,y,z,)
    print(f'sum is: {x+y+z}')

In [44]:
add(5) #x=5,y=0,z=1

5 0 1
sum is: 6

In [45]:
add(5,6) #x=5,y=6,z=1

5 6 1
sum is: 12

In [46]:
add(5,6,0) #x=5,y=0,z=0
# given arguments has higher priority then default arguments...

5 6 0
sum is: 11

#### mutable default parameter values

In [54]:
def f(my_list=[]):
    my_list.append('X')
    return my_list

In [55]:
f() # if list is empty it will add "X" number of time you'll run the code...

['X']

In [56]:
f(["Haseeb",13])

['Haseeb', 13, 'X']

In [67]:
def f(my_list=None): 
    if my_list is None:
        my_list= []
        my_list.append('X')
    else:
        my_list.append("*")
    return my_list

In [68]:
f() # if list is empty or not passed as argument both is None so, it will add "X"

['X']

In [70]:
f(["Haseeb",13]) # if list is passed as argument  so, it will add "*"  at the end

['Haseeb', 13, '*']

#### Positional Arguments

In [79]:
def id_card(sid, sname, fname, course, timing):
    #doc_string
    '''
    sid --> Student id
    sname --> Student Name
    fname --> Father's Name
    course --> Course
    timing --> Timing
    '''
    return(
    f"""
    ........PIAIC........
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    )
print(id_card('SMIT04613', 'Haseeb', 'Aslam', 'DS', '11 to 2:30'))
print(id_card('Qasim','SMIT04588','A.I','09 to 11','Hassan'))    
# it wouldn't make an error , it just place data on position as arguments pass

    ........PIAIC........
    Student id: SMIT04613
    Student Name: Haseeb
    Father's Name: Aslam
    Course: DS
    Timing: 11 to 2:30


    ........PIAIC........
    Student id: Qasim
    Student Name: SMIT04588
    Father's Name: A.I
    Course: 09 to 11
    Timing: Hassan

#### Key_word Arguments

In [78]:
def id_card(sid, sname, fname, course, timing):
    #doc_string
    '''
    sid --> Student id
    sname --> Student Name
    fname --> Father's Name
    course --> Course
    timing --> Timing
    '''
    return(
    f"""
    ........PIAIC........
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    )
print(id_card(sname='Haseeb', course='DS', timing='11 to 2:30',sid = 'SMIT04613',fname = 'Aslam'))
#id_card() # SHIFT+TAB to check number of arguments and doc_string

    ........PIAIC........
    Student id: SMIT04613
    Student Name: Haseeb
    Father's Name: Aslam
    Course: DS
    Timing: 11 to 2:30

#### Non-return functions

In [84]:
#those function who are not able to return value and we are not able to get value from that function...

In [86]:
print("Haseeb")
print(print("haseeb"))
a = print("HAseeb Aslam")
print(a)

Haseeb
haseeb
None
HAseeb Aslam
None

In [101]:
def id_card(sid, sname, fname, course, timing):
    #doc_string
    '''
    sid --> Student id
    sname --> Student Name
    fname --> Father's Name
    course --> Course
    timing --> Timing
    '''
    print(
    f"""
    ........PIAIC........
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    )
data = id_card('SMIT04613', 'Haseeb', 'Aslam', 'DS', '11 to 2:30')
print("-----------")
print(data)
#id_card() # SHIFT+TAB to check number of arguments and doc_string

    ........PIAIC........
    Student id: SMIT04613
    Student Name: Haseeb
    Father's Name: Aslam
    Course: DS
    Timing: 11 to 2:30

-----------
None

#### Return functions

In [94]:
def add(x, y, z):
    return x+y+z
add(2,3,4) # return function

9

In [93]:
def add(x, y, z):
    return x+y+z #always retun first
    return x*y*z
    return x/2*2
add(2,3,4)

9

In [95]:
def add(x, y, z):
    return x+y+z, x*y*z, x/2*2
add(2,3,4)

(9, 24, 2.0)

In [102]:
def id_card(sid, sname, fname, course, timing):
    #doc_string
    '''
    sid --> Student id
    sname --> Student Name
    fname --> Father's Name
    course --> Course
    timing --> Timing
    '''
    return(
    f"""
    ........PIAIC........
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    )
data = id_card('SMIT04613', 'Haseeb', 'Aslam', 'DS', '11 to 2:30')
print("-----------")
print(data)
#id_card() # SHIFT+TAB to check number of arguments and doc_string

-----------

    ........PIAIC........
    Student id: SMIT04613
    Student Name: Haseeb
    Father's Name: Aslam
    Course: DS
    Timing: 11 to 2:30

#### Pass argument with list

In [96]:
l1 = [0,'Haseeb', 'Aslam', '013', 'DS']
print(l1)

[0, 'Haseeb', 'Aslam', '013', 'DS']

In [97]:
l1 = [0,'Haseeb', 'Aslam', '013', 'DS']
print(l1[0], l1[1], l1[2], l1[3], l1[4])

0 Haseeb Aslam 013 DS

In [100]:
l1 = [0,'Haseeb', 'Aslam', '013', 'DS']
print(*l1) #auto slicing

0 Haseeb Aslam 013 DS

In [104]:
def id_card(sid, sname, fname, course, timing):
    #doc_string
    '''
    sid --> Student id
    sname --> Student Name
    fname --> Father's Name
    course --> Course
    timing --> Timing
    '''
    return(
    f"""
    ........PIAIC........
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    )
data = ['SMIT04613', 'Haseeb', 'Aslam', 'DS', '11 to 2:30']
print(id_card(*data)) #starik out all the values onne by one we call the lsit in function.

    ........PIAIC........
    Student id: SMIT04613
    Student Name: Haseeb
    Father's Name: Aslam
    Course: DS
    Timing: 11 to 2:30

In [118]:
def add(name,fname,*z): # *z will accept all the element from 3rd argument to onward as a singal tuple, You acan access them same like as you access tuple elements...
    print(name) # 1st atr
    print(fname) # 2nd atr
    print(type(z))
    print(z[0]) # Select element from  "z"tuple
    print(z[5]) # Select element from  "z"tuple
    print(sum(z)) # Sum of All element in "z"tuple
add('Haseeb', 'Aslam', 2,3,4,5,6,7)

Haseeb
Aslam
<class 'tuple'>
2
7
27

#### Pass argument with dictionary

In [115]:
def id_card(sid, name, fname, course, time):
    print(
        """
    --->SAYLANI<---
    student id : {}
    student name : {}
    student father name : {}
    course : {}
    time : {}""".format(sid, name,fname, course,time)
    )

In [133]:
l1 = {"sid":0,
      "name": 'Haseeb',
      "fname":'ASlam',
      "course":'DS',
      "time":'09 to 11pm'}

id_card(*l1) #  * pass keys of dictionary as argument
id_card(**l1) #  **  pass Values of dictionary as argument

    --->SAYLANI<---
    student id : sid
    student name : name
    student father name : fname
    course : course
    time : time

    --->SAYLANI<---
    student id : 0
    student name : Haseeb
    student father name : ASlam
    course : DS
    time : 09 to 11pm

#### Use Of ** in Parameter

In [141]:
def my_func(**nums):
    print(nums)

my_func(name = 'qasim', num1 = 1, num2= 2, num3 = 3, num4 = 4)

{'name': 'qasim', 'num1': 1, 'num2': 2, 'num3': 3, 'num4': 4}

In [136]:
def my_func(name, **nums):
    print(name)
    print(nums)

my_func('qasim', num1 = 1, num2= 2, num3 = 3, num4 = 4)

qasim
{'num1': 1, 'num2': 2, 'num3': 3, 'num4': 4}

#### Unlimited arguments

In [117]:
def my_func(name, *number):
    print(name)
    print(number)
    print(type(number))
    print(sum(number))

my_func('Haseeb', 2,3,4,5,6)

Haseeb
(2, 3, 4, 5, 6)
<class 'tuple'>
20

In [120]:
def my_func(*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(2,3,4,5,6, name = 'Haseeb')

Haseeb
(2, 3, 4, 5, 6)
20

In [121]:
def my_func(*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(2,3,4,5,6, 'Haseeb')

TypeError: my_func() missing 1 required keyword-only argument: 'name'

In [122]:
def my_func(*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(2,3,4,5,6, name = 'Haseeb',5,7,6)

SyntaxError: positional argument follows keyword argument (<ipython-input-122-1a83804692fe>, line 6)

In [128]:
def my_func(sid,*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(sid=0, number= [2,3,4,5,6], name= 'Haseeb')

TypeError: my_func() got an unexpected keyword argument 'number'

In [131]:
def my_func(sid,*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(sid=0,  [2,3,4,5,6], name= 'Haseeb')

SyntaxError: positional argument follows keyword argument (<ipython-input-131-2c5e5a330a9b>, line 6)

In [130]:
def my_func(sid,*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(0, number= [2,3,4,5,6], name= 'Haseeb')

TypeError: my_func() got an unexpected keyword argument 'number'

In [132]:
def my_func(sid,*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(0, [2,3,4,5,6], name= 'Haseeb')

Qasim
([2, 3, 4, 5, 6],)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [127]:
def my_func(sid,*number, name):
    print(sid)
    print(name)
    print(number)
    print(sum(number))

my_func(0, 2,3,4,5,6, name= 'Haseeb')

0
Haseeb
(2, 3, 4, 5, 6)
20

#### Recursive functions

<img src="">

<img src = "https://s3.ap-south-1.amazonaws.com/afteracademy-server-uploads/what-is-the-difference-between-iteration-and-recursion-banner-b9507914affcc7de.png">

In [144]:
def factorical(n):
    if n == 1:
        print(n)
        return 1
    print(n)
    return n * factorical(n-1)

factorical(5)

5
4
3
2
1

120

In [143]:
def add(n):
    if n == 1:
        return 1
    return n + add(n-1)
add(10)

55

#### Generator function
    Following properties that generator function posses:
        - didn't generate all values at once
        - secondly remeber its last value

In [146]:
range(1,20000) # it didn't consume all the memory it shows values are from 1 to 20000

range(1, 20000)

In [148]:
def my_range(n):
    for i in range(1, n+1):
        print(i)
        
my_range(6)

1
2
3
4
5
6

#### When to use yield instead of return in Python?
    The yield statement suspends function’s execution and sends a value back to the caller, but retains enough state to enable function to resume where it is left off. When resumed, the function continues execution immediately after the last yield run. This allows its code to produce a series of values over time, rather than computing them at once and sending them back like a list.

In [151]:
def my_range(n):
    for i in range(1,n+1):
        yield i
        
a = my_range(10)
print(a)
print(next(a))
print(next(a))
print(next(a))

<generator object my_range at 0x000001D2519129E0>
1
2
3

In [156]:
# A Python program to generate squares from 1
# to 100 using yield and therefore generator
  
# An infinite generator function that prints
# next square number. It starts with 1
def nextSquare():
    i = 1;
  
    # An Infinite loop to generate squares 
    while True:
        yield i*i                
        i += 1  # Next execution resumes 
                # from this point     
# Driver code to test above generator 
# function
for num in nextSquare():
    if num > 100:
         break    
    print(num)

1
4
9
16
25
36
49
64
81
100

#### lambda function
    Following are the properties of lambda function:
        a one line function
        a without name function
        not used before that
        not used after that

<img src = "https://0xbharath.github.io/python-foundations/img/lambda.png">

In [159]:
(lambda x : x) (5)

5

In [160]:
(lambda x : x**x) (2)

4

In [161]:
def add(x,y): return x+y
add(5,3)

8

In [162]:
(lambda x,y : x+y ) (5,3)

8

In [163]:
(lambda x,y,z : x+y+z)(2,3,4)

9

In [164]:
a = lambda x,y,z : x+y+z
a(2,3,4)

9

In [168]:
sqrt = (lambda x : x**2)
sqrt(3)

9

In [170]:
full_name = lambda fname, lname : f'complete name is: {fname} {lname}'
full_name('Haseeb', 'Aslam')

'complete name is: Haseeb Aslam'

#### Function Annotation
    Annotations provide a way to attach metadata to a function’s parameters and return value.

In [173]:
def f(a: '<a>' = 2, b: '<b>' = 3) -> '<ret_value>':
        pass
f.__annotations__

{'a': '<a>', 'b': '<b>', 'return': '<ret_value>'}

In [174]:
f.__annotations__['a']

'<a>'

In [179]:
def area(
    r: {
           'desc': 'radius of circle',
            'type': float
        }) -> \
       {
            'desc': 'area of circle',
            'type': float
        }:
    return 3.14159 * (r ** 2)
print(area(2.5))
area.__annotations__

19.6349375

{'r': {'desc': 'radius of circle', 'type': float},
 'return': {'desc': 'area of circle', 'type': float}}

In [180]:
def f(a: int = 12, b: str = 'baz') -> float:
    print(a, b)
    return(3.5)

In [181]:
f.__annotations__

{'a': int, 'b': str, 'return': float}

In [182]:
f()

12 baz

3.5

In [183]:
def f(a, b):
     return

In [184]:
f.__annotations__ = {'a': int, 'b': str, 'return': float}

In [185]:
f.__annotations__

{'a': int, 'b': str, 'return': float}