## Comparison (Relational) Operators
    ==
    >
    <
    >=
    <=
    !=, <>

In [1]:
3 == 3

True

In [2]:
3 == 3.0

True

In [3]:
3 == "3"

False

In [4]:
'H' == 'h' #FALSE because of change in ASCII value...

False

In [5]:
 5 > 3

True

In [6]:
5 > 5

False

In [7]:
5 >= 5

True

In [8]:
"A" > "B"

False

In [9]:
# Why?..."A" > "B" => FALSE 
# b/c of ASCII
    # A=65  -> Z=90
    # a=97  -> z=122
    # 0=48  -> 9=57
    
print(ord('A') )
print(ord('B') )
ord('A') > ord('B') #ord get the value of char from ASCII...(insert value...get chr).

65
66

False

In [10]:
chr(65) 
#pass value to get the char from ASCII...(insert chr...get value).

'A'

In [11]:
3 < 4

True

In [12]:
3 <= 4

True

In [13]:
"Haseeb" != "haseeb"

True

In [14]:
2 != 2

False

## Assignment Operators
    =
    +=
    -=
    *=
    /=
    //=
    **=
    %=

In [15]:
a = 10
print(a)

10

In [16]:
a = 10
b = 11
c = 12
print(a,b,c)

10 11 12

In [17]:
a = 10; b = 11; c = 12; print(a,b,c)

10 11 12

In [18]:
a, b, c = 10, 11, 12
print(a,b,c)

10 11 12

In [19]:
a = 10 #      10
a = a + 2 # 10 + 2 = 12
a = a + 3 # 12 + 3= 15
a = a + 4 # 15 + 4 = 19
print(a)

19

In [20]:
a = 10 # 10
a +=2 # 10 + 2 = 12
a +=3 # 12 + 3= 15
a +=4 # 15 + 4 = 19
print(a)

19

In [21]:
a = "A"
a += "B"
print(a)

AB

In [22]:
a = [1,2,3]
a +=[5,6]
print(a)

[1, 2, 3, 5, 6]

In [23]:
a = 10 # 10
a = a - 2 # 10 - 2 = 8
a = a - 3 # 8 - 3= 5
a = a - 4 # 5 - 4 = 1
print(a)

1

In [24]:
a = 10 # 10
a -=2 # 10 - 2 = 8
a -=3 # 8 - 3= 5
a -=4 # 5 - 4 = 1
print(a)

1

In [25]:
a = 10 # 10
a *=2 # 10 * 2 = 20
a *=3 # 20 * 3= 60
a *=4 # 60 * 4 = 240
print(a)

240

In [26]:
a = 2 # 10
a **=2 # 2 ^ 2 = 4
a **=3 # 4 ^ 3= 64
a **=4 # 64 ^ 4 = 16777216
print(a)

16777216

In [27]:
a = 60 # 60
a /=2 # 60 / 2 = 30.0
a /=3 # 30.0 / 3= 10.0
a /=4 # 10.0 / 4 = 2.5
print(a)

2.5

In [28]:
a = 60 # 60 
a //=2 # 60 // 2 = 30 floor division
a //=3 # 30 // 3= 10
a //=4 # 10 // 4 = 2 
print(a)

2

In [29]:
a = 21
a %= 5 # 21 % 5 = 1
print(a)

1

## Logical Operators
    and  & 
    or   |
    not

<img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png">

In [30]:
#AND
user = input("UserName:")
password = input("Password")
# user == "Admin" and password == "123"
(user == "Admin") & (password == "123")

#"Admin" == "Admin" and "123" == "123"
#       True         and       True
#                   True

#"Admin" == "xxxxx" and "123" == "123"
#       False        and       True
#                   False

UserName:Admin
Password123

True

In [31]:
#If multiple user have same password
user = input("UserName:")
password = input("Password")
# user == "Admin" and password == "123"
(user == "Haseeb" or user== "Ali" or user == "amir") and password=="123"
# (user == "Haseeb" or user== "Ali" or user == "amir") and "123" == "123"
#       (True)         and       True
#                   True

# (user == "Haseeb" or user== "Ali" or user == "amir") and "123" == "123"
#       (Fasle)         and       True
#                   Fasle

UserName:Haseeb
Password123

True

In [32]:
not(True)

False

In [33]:
not(False)

True

In [34]:
user = "a"
password = "123"

not (user=="Ali" and password=="123")

True

## Bitwise Operators
    Power:  8,  7,    6,    5,    4,    3,    2,    1,    0
    Base:   2,  2,    2,    2,    2,    2,    2,    2,    2
            ===============================================
    Result: 256,128,  64,   32,  16,     8,    4,    2,   1

    -->11001
    1  = 1
    0  = 0
    0  = 0
    1  = 8
    1  = 16
    25
    
    likewise...
    28=11100
    29=11101
    35=100011

In [35]:
28 & 29

28

    & / and (Sets each bit to 1 if both bits are 1)
    28: 11100
    29: 11101
        ------
        11100 ---> 28

In [36]:
28 | 29

29

    | / or (Sets each bit to 1 if one of two bits is 1)
    28: 11100
    29: 11101
        ------
        11101  ---> 29

In [37]:
 28 ^ 29

1

    ^ / XOR (Sets each bit to 1 if only one of two bits is 1)
    28: 11100
    29: 11101
        ------
        00001  ---> 1

In [38]:
#    ~ / NOT (Inverts all the bits)
~29

-30

# Membeship Operators
    ---> in
    ---> not in

In [39]:
#when we don't use in operator
names = ["Ali","Haseeb","Junaid","Kashif"]
i = 0
while i < len(names):
    if names[i]=="Haseeb":
        print(True)
        break
    i +=1

True

In [40]:
names = ["Ali","Haseeb","Junaid","Kashif"]
"Haseeb" in names

True

In [41]:
user = input("Text: ")
'apple' in user

Text: i love apple

True

## Identity Operators
    ---> id
    ---> is

In [47]:
a = '5'
b = 5
c = a

print(a is b)
print(a is c)
# How "is" keyword return TRUE if value's are same...
# Reason of "is" to return True if value's are same...
# if the value is same then the id of variable's in which value store will also same...

False
True

In [48]:
print(id(a))
print(id(b))
print(id(c))
id(a) == id(c)

1316959909872
140724324677536
1316959909872

True

## PE M/D A/S
    parenthesis, exponents, multiplication, division, addition, subtraction

In [49]:
4+8-7*(5**2)/3*2+7
# 4+8-7*(25)/3*2+7 
# 4+8-(175)/3*2+7
# 4+8-58.33*2+7
# 4+8-116.66+7
# 12-116.66+7
# -97.66

-97.66666666666667

In [ ]:
# Next Control FLow ...